{{ attach_library('alparslan/header') }}


{# <div class="hero-wrapper">

<div class="hero-image lazyload" style="background-image:url({{ hero_image }})" >

</div>
<h1 class="slogan">{{ slogan_text }}</h1>
</div> #}
{% set full_screen_txt = (full_screen == 1) ? 'hero-image-full' : 'hero-image' %}
<div class="top-nav sticky d-flex align-items-center justify-content-between w-100 d-md-block d-sm-block d-lg-none">
<a class="header-phone" href="tel:05423073637"><span class="h-phone"></span>İletişim</a>
<a href="https://www.google.com/maps/place/Yavuz+Selim,+1.+Sanayi+Sk.+No:2,+37300+Tosya%2FKastamonu,+Türkiye/@41.018063,34.076224,18z/data=!4m2!3m1!1s0x408413cac0aa122b:0xd04c18b1a927699a?hl=tr-TR&gl=US"><span class="h-maps"></span> Yol Tarifi</a>
</div>
<header class="container-lg sticky d-flex my-lg-2 justify-content-center">
	{% if page.header %}
		<div
			class="main-menu-wrap col-md-12 d-flex align-items-center">
			{# <button class="d-lg-none navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
											<span class="navbar-toggler-icon"></span>
										</button>#}
			{{ page.header }}
		</div>
	{% endif %}
</header>


{% if hero_image is not empty or hero_video is not empty %}
	<div class="hero-wrapper">
		{% if hero_image is not empty and hero_video is empty %}
			<div {{title_attributes.addClass("lazyload").addClass(full_screen_txt)}} data-bg="{{ hero_image }}" style="background-image: url({{ hero_image }});">
			{% endif %}
			{% if hero_video is not empty %}
				<div class="hero-video lazyload" data-bg="{{ hero_video_bg.0 }}">
					{{ hero_video }}
				{% endif %}
				<div class="hero-content container">
					<h1 class="hero-slogan text-uppercase">{{ slogan_text|raw }}
					</h1>
				</div>

				{% if hero_video is not empty %}
				</div>
			{% endif %}
			{% if hero_image is not empty and hero_video is empty %}
			</div>
		{% endif %}
		{% if hero_image is not empty or hero_video is not empty %}
		</div>
	{% endif %}
{% endif %}
