{{ attach_library('alparslan/text') }}

{% set split = content.field_prg_text_content.0 %}
{% set split2 = split["#text"] |split('<hr />') %}
{% set pid = 'prg_id--' ~ paragraph.id() %}
{% set class_font_size = (content.field_font_size_p['#items'].value == 1) ? 'font-l' : 'font-s mb-3' %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'prg_id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
	<div{{attributes.addClass(classes).addClass(class_font_size)}}>
		{% block content %}
			{% if split2[1]|render %}
				<p class="disp-cont">
					{{split2[0] | raw}}
				</p>
				<p class="dot">...</p>
				<div class="more-cont">
					{{split2[1]|raw}}
				</div>
				<div class="my-3 more"><a  href="#" >{{ 'Daha Fazla'|t }}</a></div>
			{% else %}
				{{ split2[0] |raw }}
			{% endif %}
		{% endblock %}
	</div>
{% endblock paragraph %}
