{{ attach_library('alparslan/blog') }}
{{ attach_library('alparslan/bs.buttons') }}

<div{{attributes}}>
 

<div class="container">
<h1>{{ label }}</h1>
<div class="d-lg-flex d-md-inline-block d-sm-inline-block ">
<h2 class="title-yazar mx-1">{{content.field_blog_yazar }}  </h2> <h2  class="title-yazar mx-1 d-lg-inline-block d-none">-</h2> 
<h2 class="title-yazar mx-1" >{{ content.field_blog_tarih }}</h2>
</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			{{content|without('field_blog_yazar', 'field_blog_tarih', 'field_image')}}
		</div>
	</div>
</div>

</div>
