{{ attach_library('alparslan/tarifler') }}
{{ attach_library('alparslan/bs.buttons') }}

{% if title %}
	<h3>{{ title }}</h3>
{% endif %}
<div id="splide" class="splide">
	<div class="splide__track">
		<ul class="splide__list">

			{% for row in rows %}
				{%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
				<li {{row.attributes.addClass(row_classes).addClass("splide__slide")}}>
					{{- row.content -}}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
